@font-face {
	font-family: 'rock';
	src: url('./rock.eot');
	src: local('rock'), url('./rock.woff') format('woff'), url('./rock.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_9786">Text with this font applied</p> */
.fontsforweb_fontid_9786 {
	font-family: 'rock' !important;
}

/* Font downloaded from FontsForWeb.com */