/* CSS Document */

body{
	background:ffffff;
	font:14.5px "Calibri",Geneva,sans-serif;
	padding: 200;
	padding-top: 8px;
	height:100% !important;
}
p{margin:0px; padding:13px;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:90%;
   margin-left: 77px !important;
   border-top: 4px solid #a5c451 !important;
   background:#fff !important;
}

/* IE 6 */
* html #footer {
   position:absolute;
   margin-left: 77px !important;
   width:90% !important;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
img{border:0px;}
.flt{ float:left;}
.flt1{
	float:right;
}
.flt2{
	float:left;
	margin-top: 20px;
	margin-left: 5px;
}
#main_block{width:90%; margin:auto; background:#ffffff;min-height:100%;position:relative;}
.cp_block{
	width:100%;
	margin:-3px;
	margin-bottom: 20px;
	background:#ffffff;
	padding: 600;
}
.tp_logo{margin:43px 46px 0px 18px;}
.topblock{width:945px; height:241px; background:url(../images/tp_backgr.jpg) no-repeat;}
#lftblock{
	display:inline;
	float:right;
	width:640px;
	height:41px;
	margin-top:100px;
	margin-right: 70px;
} 
#lftblock span{
	float:right;
	display:inline;
	background:url(../images/tp_tabhome.gif) no-repeat;
	width:124px;
	height:41px;
	margin-right:3px;
	}
#lftblock span a{
	float:left;
	color:#FFFFFF;
	margin-left:20px;
	text-decoration:none;
}
.tp_home{font:bold 15px/24px Trebuchet MS; color:#ffffff; text-align:center; margin-top:12px; text-decoration:none;}
.lp_padd{
	display:inline;
	width:609px;
	margin:0px 0px 0px 30px;
	background:#ffffff;
	margin-left: 0px;
}


.lp_weltxt,.lp_childtxt,.rp_head,.inn_about,.inn_testi{
	font:bold italic 22px/24px Georgia;
	color:#A55702;
	margin-top:22px;
	width:580px;
	margin-left: 0px;
}
.rp_serv,.inn_our,.inn_traing{font:bold 22px/24px "Tahoma",Geneva,sans-serif; color:##007CC2; margin:18px 0px 0px 19px; width:270px;}
.inn_traing{color:#ffffff; margin:28px 0px 0px 23px; width:480px; }
.inn_our{
	color:##007CC2;
	width:400px;
	margin-top: 12px;
	margin-bottom: 0px;
}
.rp_head{color:#333329; margin:18px 0px 0px 14px; width:260px;}
.lp_childtxt{
	color:#747474;
	margin-top:17px;
	width:300px;
}
.inn_about{
	color:#747474;
	width:652px;
	margin-top: 22px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.inn_testi{color:#747474; margin:14px 0px 0px 20px; width:466px;}
.lp_loremtxt{width:580px; margin-top:12px; color:#2A2A2A;}
.lp_loremtxt2{
	width:275px;
	margin-top:12px;
	color:#2A2A2A;
}
.rp_facitxt{width:260px; margin:8px 0px 0px 14px; color:#333329;}
.lp_linktxt,.lp_linktxt2{width:230px; margin-top:10px; color:#848483;}
.lp_linktxt2{width:258px; display:inline; }
.cp_line{
	margin-top:15px;
}
.cp_vertline{margin-top:52px;}
.lp_arrow{margin:15px 8px 0px 0px;}
.lp_facitxt{width:280px; margin-top:14px; color:#000000;}
.rp_padd{
	display:inline;
	width:300px;
	margin:0px;
	background:#FFFFCB;
	padding-bottom:2px;
	border-right:1px solid #ffffff;
	margin-left: 35px;
}
.rp_bck{ display:inline; width:302px; margin:0px; background:#C5C591; border-left:1px solid #FFFFCB;}
.rp_img1{margin:20px 0px 0px 13px;}
.rp_img2{margin:12px 0px 0px 17px;}
.rp_img3{margin:20px 20px 0px 18px;}
.rp_arrow{margin:15px 8px 0px 19px;}
.rp_linktxt{
	width:230px;
	margin-top:10px;
	color:#990000;
}
.rp_add{display:inline; width:259px; height:114px; margin:26px 0px 0px 20px; background:url(../images/rp_addjoin.jpg) no-repeat; padding-bottom:36px;}
.ft_bg{
	display:inline;
	width:100%;
	height:4px;
	margin:0px;
	background:url(../images/ft_bg.gif) repeat-x;
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
	font:11px/14px verdana,arial;
	color:#007CC2;
}
#scroll-pane,.scroll-pane{position:relative}
.scroll-content {position:absolute;top:0;left:0}
.slider-wrap{position:absolute;right:0;top:0;background-color:lightgrey;width:20px;border-left:1px solid gray;}
.slider-vertical{position:relative;height:100%}
.ui-slider-handle{width:20px;height:10px;margin:0 auto;background-color:darkgray;display:block;position:absolute}
.ui-slider-handle img{border:none}
.scrollbar-top{position:absolute;top:0;}
.scrollbar-bottom{position:absolute;bottom:0;}
.scrollbar-grip{position:absolute;top:50%;margin-top:-6px;}
.ui-slider-range{position:absolute;width:100%;background-color:lightgrey}
.ft_bg1{
	display:inline;
	width:100%;
	height:74px;
	margin:0px;
	background:url(../images/ft_bg1.gif) repeat-x;
	border-left:0px solid #ffffff;
	border-right:1px solid #ffffff;
	font:11px/14px verdana,arial;
	color:#007CC2;
}
.ft_pipe{margin:26px 10px 0px 10px;}
.ft_home{
	margin:26px 0px 16px 0px;
	color:#ffffff;
	text-decoration:none;
}
.ft_home2{
	margin:26px 0px 0px 0px;
	color:#ffffff;
	text-decoration:none;
}
.ft_home3{ color:#ffffff; width:70%;}
.rp_moretxt{width:100px; margin:78px 0px 0px 26px; color:#ffffff;}
.inn_lppadd{
	display:inline;
	width:262px;
	margin:0px;
	background:#FFFFFF;
	padding-bottom:56px;
	border:3px solid #ffffff;
	margin-left: 20px;
}
.inn_rppadd{
	display:inline;
	width:650px;
	margin:40px 0 0;
	margin-left: 0px;
}
.inn_lppadd1{
	display:inline;
	width:945px;
	margin:0px;
	background:#FFFFCB;
	padding-bottom:56px;
	border:3px solid #ffffff;
	margin-left: 20px;
}
.inn_rppadd1{
	display:inline;
	width:650px;
	margin:0px;
	margin-left: 0px;
}
.inn_arrow{margin:16px 18px 0px 14px;}
.inn_linktxt{width:208px; margin-top:11px; color:#3C3C3B;}
.inn_add{
	display:inline;
	width:224px;
	height:120px;
	margin:20px 0px 0px 27px;
	background:url(../images/inn_lpadd.jpg) no-repeat;
	margin-right: 20px;
}
.inn_abttxt{width:490px; margin:14px 0px 0px 20px; color:#000000;}
.inn_imgfamily{margin:14px 0px 0px 4px;}
.inn_imggirl{margin:22px 0px 0px 20px;}
.inn_testtxt{width:444px; margin:8px 0px 0px 20px; color:#2F1C1B;}
.inn_train{
	display:inline;
	width:945px;
	height:173px;
	margin:10px 0px 0px 0px;
	float:left;
}
.inn_arrow2{margin:12px 14px 0px 26px;}
.inn_linktxt2{
	width:456px;
	margin-top:8px;
	color:#FFFFFF;
	text-decoration:none;
	margin-left: 10px;
}
