*, *:before, *:after {
    @include box-sizing(border-box);
}

html {
    height: 100%;
    max-height: 100%;
    font-size: 13px;
}

body {
    height: 100%;
    max-height: 100%;
    font: 13px 'PT Sans', sans-serif;
    color: $color-text;
    background-color: $color-bg;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

a {
    color: $color-link;
    text-decoration: none;
    font-size: 13px;

    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
}

/*h1 {
    font-size: 39px; // 3rem
}
h2 {
    font-size: ms(5); // 2.6rem
}
h3 {
    font-size: ms(4); // 1.8rem;
}
h4 {
    font-size: ms(3); // 1.7rem;
}
h5 {
    &, & a {
        font-size: ms(2); // 1.4rem;
    }
}
h6 {
    font-size: 13px; // 1rem
}*/

pre {
    margin: 0;
}

p, ul, ol {
    list-style: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
}

.clearfix {
    @include pie-clearfix;
}
