#layout {
    position: relative;
    background: #FFFFFF;
}
.site-header {
    position: absolute;
    top: 20px;
    left: 1%;
    width: 98%;
    padding: 5px 30px;
    background: #FFFFFF;
    z-index: 1;
    @include single-box-shadow(0, 0, 4px, 1px, rgba(0, 0, 0, .22));

    .logo {
        float: left;
        height: 50px;
    }
    .site-nav {
        float: right;
        margin: 17px 0 0 0;

        a {
            color: #2C3E50;
            font-size: 16px;
            margin-left: 35px;
        }
    }
}

.carousel {
    height: 100vh;

    .items {
        height: 93vh;
        overflow: hidden;
    }

    .item {
        position: absolute;
        width: 100%;
        height: inherit;
        opacity: 0;
        transition: 1s opacity ease-in;

        &[data-id='eye'] {
            background-image: url('../img/slide-eye.jpg');
        }
        &[data-id='ear'] {
            background-image: url('../img/slide-ear.jpg');
        }
        &[data-id='teeth'] {
            background-image: url('../img/slide-teeth.jpg');
        }
        &[data-id='lungs'] {
            background-image: url('../img/slide-lungs.jpg');
        }
        &[data-id='brain'] {
            background-image: url('../img/slide-brain.jpg');
        }

        &.fade-in {
            opacity: 1;
        }
        &.fade-out {
            opacity: 0;
        }
    }

    .index {
        height: 7vh;
        background: #31D4E7;

        span {
            display: inline-block;
            height: inherit;
            background-size: 7vh 5vh;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            width: 20%;
            margin-right: -4px;
            border-right: 1px solid #FFF;

            &:last-child {
                border-right: none;
            }

            &[data-id='eye'] {
                background-image: url('../img/eye.png');
            }
            &[data-id='ear'] {
                background-image: url('../img/ear.png');
                background-size: 4vh 5vh;
            }
            &[data-id='teeth'] {
                background-image: url('../img/teeth.png');
                background-size: 4vh 5vh;
            }
            &[data-id='lungs'] {
                background-image: url('../img/lungs.png');
                background-size: 6vh 5vh;
            }
            &[data-id='brain'] {
                background-image: url('../img/brain.png');
                background-size: 4vh 5vh;
            }
        }
    }
}
